@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
.main__content:after, .footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer:before {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.eot?") format("eot"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.eot?") format("eot"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto") format("svg");
}
/* Global variables */
/* ======================================================================== */
.txt_primary {
  color: #7b8287;
}
.txt_success {
  color: #36a566;
}
.txt_info {
  color: #03a9f4;
}
.txt_warning {
  color: #fca33e;
}
.txt_danger {
  color: #ff1a1a;
}

/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper,
body,
html {
  height: auto;
  min-height: 100%;
  position: relative;
  box-sizing: content-box;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Roboto";
  color: #fff;
  line-height: 1.3;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  text-decoration: none;
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  color: inherit;
}
a:focus {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.wrapper {
  font-size: 16px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -auto;
}

.container_center {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: auto;
  background-color: #2F343A;
}

.soc {
  float: left;
}
.soc a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
  text-decoration: none;
  transition: all 0.3ss;
}
.soc a:hover {
  opacity: 0.8;
}
.soc a:before {
  content: "soc";
  color: #fff;
  text-decoration: none;
}

/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header__top {
  background-color: #C8A35F;
  font-size: 12px;
  padding: 15px 0;
}
.header__top .header__content {
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__top .header__content {
    justify-content: space-between;
  }
}
.header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__content {
    justify-content: space-between;
  }
}
.header__language {
  text-transform: uppercase;
  display: flex;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .header__language {
    flex-grow: initial;
  }
}
.header__lang {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.header__lang:first-child {
  margin: 0 5px 0 0;
}
.header__lang:hover {
  opacity: 1;
}
.header__comunicationLink {
  margin-left: 15px;
}
.header__comunicationLink .icon-phone {
  font-size: 12px;
}
@media (min-width: 768px) {
  .header__comunicationLink .icon-phone {
    display: none;
  }
}
.header__comunicationLink .icon-envelop {
  font-size: 12px;
}
@media (min-width: 768px) {
  .header__comunicationLink .icon-envelop {
    display: none;
  }
}
.header__phone {
  display: none;
  padding-right: 14px;
}
@media (min-width: 768px) {
  .header__phone {
    display: block;
  }
}
.header__email {
  display: none;
}
@media (min-width: 768px) {
  .header__email {
    display: block;
  }
}
.header__bottom {
  background: #2F343A;
  padding: 27px 0;
}
.header__left {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
@media (min-width: 768px) {
  .header__left {
    margin-left: 0;
  }
}
.header__box {
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
}
.header__image {
  padding-right: 10px;
  line-height: 0;
}
.header__description {
  margin-top: 5px;
  padding-right: 19px;
}
@media (min-width: 992px) {
  .header__description {
    padding-right: 30px;
  }
}
.header__location {
  margin-top: 3px;
  display: flex;
  margin-left: 15px;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.05em;
}
@media (min-width: 992px) {
  .header__location {
    margin-left: 29px;
  }
}
.header__location .icon-placeholder {
  color: #C8A35F;
  font-size: 25px;
  padding-right: 10px;
}
.header__text {
  display: none;
}
@media (min-width: 768px) {
  .header__text {
    display: block;
  }
}

/* Набросок стилей для навигации
-------------------------------------------------------------------------------*/
.navbar {
  margin: 0;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.05em;
  position: fixed;
  color: #000;
  left: -330px;
  top: 0;
  bottom: 0;
  width: 300px;
  padding-top: 80px;
  transition: left 0.5s;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 0;
    color: inherit;
  }
}
.navbar__swicher:checked ~ .navbar {
  left: 0;
}
.navbar__swicher {
  display: none;
}
.navbar__toggle {
  position: absolute;
  color: #fff;
  left: 15px;
  top: 81px;
  width: 34px;
  height: 24px;
  border: 4px solid;
  border-left: 0;
  border-right: 0;
  z-index: 15;
  cursor: pointer;
}
.navbar__toggle:after, .navbar__toggle:before {
  content: "";
  border-top: 4px solid;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 0;
  width: 100%;
}
.navbar__swicher:checked ~ .navbar__toggle {
  color: #000;
  border-color: transparent;
  position: fixed;
}
.navbar__swicher:checked ~ .navbar__toggle:after, .navbar__swicher:checked ~ .navbar__toggle:before {
  transition: 0.8s;
}
.navbar__swicher:checked ~ .navbar__toggle:before {
  transform: rotate(45deg);
}
.navbar__swicher:checked ~ .navbar__toggle:after {
  transform: rotate(-45deg);
}
.navbar__toggle:hover {
  color: #e6e6e6;
}
@media (min-width: 768px) {
  .navbar__toggle {
    display: none;
  }
}
.navbar__item {
  margin: 30px 60px;
}
.navbar__item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .navbar__item {
    margin: 0 10px;
  }
}
@media (min-width: 992px) {
  .navbar__item {
    margin: 0 15px;
  }
}
.navbar__link {
  position: relative;
}
.navbar__link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  opacity: 0;
  border-bottom: 1px solid;
  transition: 0.3s;
}
.navbar__link:hover:after {
  left: 0;
  width: 100%;
  opacity: 1;
}

/* Набросок стилей для подвала
 ----------------------------------------------------------------------------- */
.footer {
  margin-top: -15px;
  position: relative;
  height: auto;
  background: #C8A35F;
}
.footer .container_center {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 18px 0;
}
@media (min-width: 425px) {
  .footer__box {
    flex-direction: row;
  }
}
.footer__company {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.footer__logo {
  max-width: 40px;
}
.footer__text {
  margin-left: 10px;
}
@media (min-width: 425px) {
  .footer__text {
    display: none;
  }
}
@media (min-width: 992px) {
  .footer__text {
    display: initial;
  }
}
.footer__information {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  font-size: 14px;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer__information {
    margin-left: 30px;
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .footer__information {
    justify-content: space-between;
  }
}
@media (min-width: 425px) {
  .footer__information {
    flex-direction: row;
  }
}
.footer__left {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  max-width: 500px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__left {
    flex-direction: row;
    flex-grow: 10;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 425px) {
  .footer__contact {
    margin-left: 30px;
    text-align: inherit;
  }
}
@media (min-width: 992px) {
  .footer__contact {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.footer__email {
  color: #2F343A;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 425px) {
  .footer__email {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__phones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}
.footer__right {
  display: flex;
  align-items: flex-end;
  min-width: 147px;
  margin: auto;
}
@media (min-width: 992px) {
  .footer__right {
    margin: 0 0 0 30px;
  }
}
.footer__author {
  color: #2F343A;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-open {
  overflow: hidden;
}
.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 23px;
  top: 23px;
}
.modal-close:after, .modal-close:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  border-top: 1px solid #C8A35F;
  top: 10px;
}
.modal-close:before {
  transform: rotate(45deg);
}
.modal-close:after {
  transform: rotate(-45deg);
}
.modal-close:hover {
  opacity: 0.8;
}
.modal.fade .modal-dialog {
  transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
  position: relative;
}
.modal-dialog {
  background-color: #2F343A;
  position: relative;
  width: auto;
  margin: 10px auto;
  max-width: 90vw;
}
@media (min-width: 425px) {
  .modal-dialog {
    width: 80vw;
    max-width: 950px;
  }
}
.modal-dialog-sm {
  max-width: 400px;
}
.modal-content {
  position: relative;
  background-color: #2F343A;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  padding: 46px 13px;
  text-align: center;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 46px 53px;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px 0;
  min-height: 16.42857143px;
  color: #666;
  font-size: 18px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 0;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon-v1.3/fonts/icomoon.eot?lpq7ct");
  src: url("../fonts/icomoon-v1.3/fonts/icomoon.eot?lpq7ct#iefix") format("embedded-opentype"), url("../fonts/icomoon-v1.3/fonts/icomoon.ttf?lpq7ct") format("truetype"), url("../fonts/icomoon-v1.3/fonts/icomoon.woff?lpq7ct") format("woff"), url("../fonts/icomoon-v1.3/fonts/icomoon.svg?lpq7ct#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "";
}

.icon-envelop:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-mouse:before {
  content: "";
}

.icon-airplane-flight:before {
  content: "";
}

.icon-placeholder:before {
  content: "";
}

.home {
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url("../img/full_screen_truck.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 145px);
  display: flex;
}
.home__content {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 87px;
}
.home__box {
  border: 1px solid #C8A35F;
  text-align: center;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .home__box {
    padding: 0 68px;
  }
}
.home__title {
  font-size: 38px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 39px;
}
@media (min-width: 768px) {
  .home__title {
    font-size: 64px;
  }
}
.home__text {
  font-size: 18px;
  max-width: 780px;
  line-height: 1.5;
  margin-bottom: 43px;
}
.home__icon {
  position: absolute;
  font-size: 31px;
  bottom: 8%;
  left: 48.4%;
}

.section {
  padding: 15px 0;
}
.section__title {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.05em;
}
.section__title:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 40px;
  border-top: 6px solid #C8A35F;
  top: -45px;
}

.transportation {
  background: #393F47;
}
.transportation__content {
  background: linear-gradient(to right, #393F47 31.4%, #2F343A 31.4%, #2F343A 68.6%, #393F47 68.6%);
  margin: -15px 0;
  position: relative;
}
.transportation__content .icon-arrow-right {
  color: #C8A35F;
  font-size: 23px;
  margin-left: 33px;
}
.transportation__content .icon-arrow-left {
  color: #C8A35F;
  font-size: 23px;
  margin-right: 23px;
}
.transportation__box {
  display: flex;
  padding: 100px 0 70px;
  outline: 0;
}
@media (min-width: 768px) {
  .transportation__box {
    padding: 165px 0 100px;
  }
}
.transportation__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .transportation__left {
    width: 40%;
    display: initial;
  }
}
.transportation__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .transportation__right {
    width: 40%;
    margin-bottom: 0;
    justify-content: initial;
  }
}
.transportation__title {
  line-height: 1.2;
  font-size: 23px;
  text-align: center;
}
@media (min-width: 768px) {
  .transportation__title {
    font-size: 40px;
    text-align: initial;
  }
}
.transportation__text {
  font-size: 18px;
  margin-top: 18px;
  max-width: 320px;
  line-height: 1.6;
  margin-bottom: 41px;
  text-align: center;
}
@media (min-width: 768px) {
  .transportation__text {
    text-align: initial;
  }
}
.transportation__image {
  margin-left: 0;
  max-height: 180px;
}
@media (min-width: 768px) {
  .transportation__image {
    margin-left: 29px;
    max-height: 266px;
  }
}

.slick-arrowBox {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .slick-arrowBox {
    bottom: inherit;
    right: 0;
  }
}
.slick-arrowBox_top {
  right: 0;
  bottom: 25px;
}
@media (min-width: 768px) {
  .slick-arrowBox_top {
    top: 154px;
    bottom: inherit;
  }
}
.slick-arrowBox_bottom {
  left: 0;
  bottom: 25px;
}
@media (min-width: 768px) {
  .slick-arrowBox_bottom {
    bottom: 120px;
    left: inherit;
  }
}
.slick-arrowBox:hover .slick-btn {
  color: #dcc498;
}
.slick-arrowBox:hover i {
  color: #dcc498;
}
.slick-btn {
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C8A35F;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media (min-width: 768px) {
  .slick-btn {
    display: block;
  }
}
.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  padding: 19px 56px 18px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #C8A35F;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
.btn:active, .btn:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.btn-vacancy,
.btn_form {
  padding: 19px 19px 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.services {
  background-color: #2F343A;
}
.services__box {
  padding: 100px 0 45px;
}
@media (min-width: 768px) {
  .services__box {
    padding: 149px 0 45px;
  }
}
.services__content {
  display: flex;
  flex-wrap: wrap;
  padding: 47px 0;
}
.services__item {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #393F47;
  cursor: pointer;
}
.services__item:hover {
  background-color: #C8A35F;
}
.services__item:hover i {
  color: #393F47;
}
.services__item:hover .services__logo {
  background-color: #fff;
}
@media (min-width: 992px) {
  .services__item {
    width: 25%;
  }
}
.services__logo {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  background-color: #393F47;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0 23px;
}
.services__logo .icon-airplane-flight {
  font-size: 30px;
}
.services__name {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin-bottom: 28px;
}
@media (min-width: 425px) {
  .services__name {
    font-size: 18px;
  }
}

.company__content {
  padding: 6px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #2F343A 31.4%, #393F47 31.4%, #393F47 68.6%, #2F343A 68.6%);
}
@media (min-width: 992px) {
  .company__content {
    flex-direction: row;
    padding: 80px 0;
  }
}
@media (min-width: 425px) {
  .company__content {
    align-items: flex-start;
  }
}
.company__left {
  max-width: 445px;
  margin-top: 42px;
}
@media (min-width: 425px) {
  .company__left {
    margin-right: 65px;
  }
}
.company__description {
  margin-top: 18px;
  line-height: 1.47;
}
.company__right {
  margin-top: 40px;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  border-left: 0.25px solid #C8A35F;
  border-top: 0.25px solid #C8A35F;
}
@media (min-width: 992px) {
  .company__right {
    margin-top: 0;
  }
}
@media (min-width: 425px) {
  .company__right {
    max-width: 400px;
    align-self: flex-end;
  }
}
@media (min-width: 768px) {
  .company__right {
    max-width: 600px;
  }
}
.company__item {
  padding: 10px 26px;
  background-color: #fff;
  width: 100%;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 0.25px solid #C8A35F;
  border-bottom: 0.25px solid #C8A35F;
  line-height: 1;
}
@media (min-width: 425px) {
  .company__item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .company__item {
    width: 33.333%;
  }
}
.company__item_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company__number {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold;
  color: #2F343A;
  margin-top: 17px;
}
.company__number_small {
  font-size: 55px;
  margin-top: 28px;
}
.company__subtitle {
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #000;
  margin-top: 3px;
}
.company__text {
  margin-top: 13px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #000;
}

#yandexMap {
  width: 100%;
  height: 450px;
  padding: 0;
  margin: 0;
}

.map {
  margin-top: 90px;
  position: relative;
  transition: 1s;
}
.map__content_dark {
  transition: 1s;
}
.map__content_dark:before {
  transition: 0.4s;
  content: "";
  position: absolute;
  width: 100%;
  height: 450px;
  background: linear-gradient(0deg, rgba(57, 63, 71, 0.6), rgba(57, 63, 71, 0.6));
  z-index: 1000;
}
.map__content_dark:hover:before {
  content: "";
  width: 0;
}

.vacancies-block {
  font-size: calc(.045 * 100vw + 0px);
}
@media (min-width: 425px) {
  .vacancies-block {
    font-size: 16px;
  }
}
.vacancies-block__title {
  font-size: 2em;
  margin-bottom: 15px;
}
@media (min-width: 425px) {
  .vacancies-block__title {
    font-size: 36px;
  }
}
.vacancies-block__box {
  display: flex;
  flex-wrap: wrap;
}
.vacancies-block__vacancy {
  padding: 15px;
  width: calc(100% - 30px);
  margin: 15px;
  border: 1px solid #C8A35F;
}
@media (min-width: 768px) {
  .vacancies-block__vacancy {
    width: calc(50% - 30px);
  }
}
.vacancies-block__vacancy_nonVacancy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vacancies-block__name {
  text-align: left;
  font-size: 1.4em;
  padding-bottom: 15px;
  border-bottom: 1px solid #C8A35F;
  margin: 15px;
}
.vacancies-block__list {
  text-align: left;
}
.vacancies-block__item {
  margin-bottom: 10px;
  margin-left: 17px;
}
.vacancies-block__desc {
  margin: 15px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}
.form__title {
  font-size: 36px;
  margin-bottom: 10px;
}
.form__grid {
  max-width: 606px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
}
.form__row {
  width: 100%;
  margin: 15px;
  position: relative;
  margin-bottom: 15px;
}
.form__row textarea {
  min-height: 92px;
  resize: vertical;
}
.form__row input:not([type]),
.form__row input[type=datetime],
.form__row input[type=email],
.form__row input[type=number],
.form__row input[type=password],
.form__row input[type=search],
.form__row input[type=tel],
.form__row input[type=text],
.form__row input[type=url],
.form__row textarea {
  width: 100%;
  background: #F5F5F5;
  padding: 14px 28px 15px;
  border: 1px solid #F5F5F5;
  outline: none;
  font-size: 16px;
  font-family: "Roboto";
  transition: all 0.3s;
}
.form__row input:not([type]):hover,
.form__row input[type=datetime]:hover,
.form__row input[type=email]:hover,
.form__row input[type=number]:hover,
.form__row input[type=password]:hover,
.form__row input[type=search]:hover,
.form__row input[type=tel]:hover,
.form__row input[type=text]:hover,
.form__row input[type=url]:hover,
.form__row textarea:hover {
  border: 1px solid #ddd;
  background-color: #fff;
}
.form__row input:not([type]):focus,
.form__row input[type=datetime]:focus,
.form__row input[type=email]:focus,
.form__row input[type=number]:focus,
.form__row input[type=password]:focus,
.form__row input[type=search]:focus,
.form__row input[type=tel]:focus,
.form__row input[type=text]:focus,
.form__row input[type=url]:focus,
.form__row textarea:focus {
  border: 1px solid #ddd;
  background-color: #fff;
}
.form__row input:not([type]).invalid,
.form__row input[type=datetime].invalid,
.form__row input[type=email].invalid,
.form__row input[type=number].invalid,
.form__row input[type=password].invalid,
.form__row input[type=search].invalid,
.form__row input[type=tel].invalid,
.form__row input[type=text].invalid,
.form__row input[type=url].invalid,
.form__row textarea.invalid {
  background-color: #fff0f0;
  border: 1px solid red;
}
.form__row input:not([type])::-webkit-input-placeholder,
.form__row input[type=datetime]::-webkit-input-placeholder,
.form__row input[type=email]::-webkit-input-placeholder,
.form__row input[type=number]::-webkit-input-placeholder,
.form__row input[type=password]::-webkit-input-placeholder,
.form__row input[type=search]::-webkit-input-placeholder,
.form__row input[type=tel]::-webkit-input-placeholder,
.form__row input[type=text]::-webkit-input-placeholder,
.form__row input[type=url]::-webkit-input-placeholder,
.form__row textarea::-webkit-input-placeholder {
  color: #2F343A;
}
.form__row input:not([type]):-moz-placeholder,
.form__row input[type=datetime]:-moz-placeholder,
.form__row input[type=email]:-moz-placeholder,
.form__row input[type=number]:-moz-placeholder,
.form__row input[type=password]:-moz-placeholder,
.form__row input[type=search]:-moz-placeholder,
.form__row input[type=tel]:-moz-placeholder,
.form__row input[type=text]:-moz-placeholder,
.form__row input[type=url]:-moz-placeholder,
.form__row textarea:-moz-placeholder {
  color: #2F343A;
}
.form__row input:not([type])::-moz-placeholder,
.form__row input[type=datetime]::-moz-placeholder,
.form__row input[type=email]::-moz-placeholder,
.form__row input[type=number]::-moz-placeholder,
.form__row input[type=password]::-moz-placeholder,
.form__row input[type=search]::-moz-placeholder,
.form__row input[type=tel]::-moz-placeholder,
.form__row input[type=text]::-moz-placeholder,
.form__row input[type=url]::-moz-placeholder,
.form__row textarea::-moz-placeholder {
  color: #2F343A;
}
.form__row input:not([type]):-ms-input-placeholder,
.form__row input[type=datetime]:-ms-input-placeholder,
.form__row input[type=email]:-ms-input-placeholder,
.form__row input[type=number]:-ms-input-placeholder,
.form__row input[type=password]:-ms-input-placeholder,
.form__row input[type=search]:-ms-input-placeholder,
.form__row input[type=tel]:-ms-input-placeholder,
.form__row input[type=text]:-ms-input-placeholder,
.form__row input[type=url]:-ms-input-placeholder,
.form__row textarea:-ms-input-placeholder {
  color: #2F343A;
}

.drop {
  width: 100%;
}
.drop__content {
  position: relative;
  background: #F5F5F5;
  outline: none;
  font-size: 16px;
  font-family: "Roboto";
  transition: all 0.3s;
}
.drop__wrapper {
  cursor: pointer;
}
.drop__wrapper:after {
  color: #2F343A;
  position: absolute;
  right: 3%;
  top: 10%;
  font-size: 2em;
  content: ">";
  transform: rotate(90deg);
  transition: 0.3s;
}
.drop__wrapper.active:after {
  transform: rotate(-90deg);
}
.drop__toogle {
  position: relative;
  color: #2F343A;
  padding: 14px 28px 15px;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.drop__list {
  box-sizing: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 0.3s;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}
.drop__list.open {
  height: auto;
  opacity: 1;
}
.drop__item {
  padding: 5px;
  cursor: pointer;
  padding: 14px 27px 15px;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  color: #2F343A;
  width: 100%;
  text-align: left;
}
.drop__item:hover {
  border: 1px solid #ddd;
  background-color: #fff;
}
.drop__item:focus {
  border: 1px solid #ddd;
  background-color: #fff;
}
.drop__item.invalid {
  background-color: #fff0f0;
  border: 1px solid red;
}
.drop__position {
  position: relative;
  padding-left: 37px;
}
.drop__position:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  transition: 0.2s;
  border: 2px solid #2F343A;
  opacity: 0.7;
}
.drop__position:after {
  content: ">";
  font-size: 36px;
  position: absolute;
  transform: rotate(97deg);
  top: 1px;
  left: 14px;
  width: 22px;
  height: 22px;
  opacity: 0;
  transition: 0.2s;
}
.drop__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.drop__checkbox:checked + .drop__position:before {
  opacity: 1;
}
.drop__checkbox:checked + .drop__position:after {
  opacity: 1;
}
.drop__checkbox:hover + .drop__position:before {
  opacity: 1;
}