@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
.main__content:after, .footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer:before {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.eot?") format("eot"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.eot?") format("eot"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto") format("svg");
}
/* Global variables */
/* ======================================================================== */
.txt_primary {
  color: #7b8287;
}
.txt_success {
  color: #36a566;
}
.txt_info {
  color: #03a9f4;
}
.txt_warning {
  color: #fca33e;
}
.txt_danger {
  color: #ff1a1a;
}

/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  box-sizing: border-box;
}

.wrapper,
body,
html {
  height: 100%;
  position: relative;
  box-sizing: content-box;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Roboto";
  color: #fff;
  line-height: 1.3;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  text-decoration: none;
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  color: inherit;
}
a:focus {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.wrapper {
  font-size: 16px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -auto;
}

.container_center {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: auto;
}

.soc {
  float: left;
}
.soc a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
  text-decoration: none;
  transition: all 0.3ss;
}
.soc a:hover {
  opacity: 0.8;
}
.soc a:before {
  content: "soc";
  color: #fff;
  text-decoration: none;
}

/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header__top {
  background-color: #C8A35F;
  font-size: 12px;
  padding: 15px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__language {
  text-transform: uppercase;
  display: flex;
}
.header__lang {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.header__lang:first-child {
  margin: 0 5px 0 0;
}
.header__lang:hover {
  opacity: 1;
}
.header__phone {
  padding-right: 14px;
}
.header__bottom {
  background: #2F343A;
  padding: 27px 0;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__box {
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
}
.header__image {
  padding-right: 10px;
  line-height: 0;
}
.header__text {
  margin-top: 5px;
  padding-right: 30px;
}
.header__location {
  margin-top: 3px;
  display: flex;
  margin-left: 29px;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.05em;
}
.header__location .icon-placeholder {
  color: #C8A35F;
  font-size: 25px;
  padding-right: 10px;
}

/* Набросок стилей для навигации
-------------------------------------------------------------------------------*/
.navbar {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  font-size: 14px;
  letter-spacing: 0.05em;
}
.navbar__item {
  margin: 0 15px;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__link {
  position: relative;
}
.navbar__link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  opacity: 0;
  border-bottom: 1px solid;
  transition: 0.3s;
}
.navbar__link:hover:after {
  left: 0;
  width: 100%;
  opacity: 1;
}

/* Набросок стилей для подвала
 ----------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: auto;
  background: #BFF08E;
}
.footer .container_center {
  padding-top: 10px;
  padding-bottom: 10px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon-v1.2/fonts/icomoon.eot?qajeyi");
  src: url("../fonts/icomoon-v1.2/fonts/icomoon.eot?qajeyi#iefix") format("embedded-opentype"), url("../fonts/icomoon-v1.2/fonts/icomoon.ttf?qajeyi") format("truetype"), url("../fonts/icomoon-v1.2/fonts/icomoon.woff?qajeyi") format("woff"), url("../fonts/icomoon-v1.2/fonts/icomoon.svg?qajeyi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-mouse:before {
  content: "";
}

.icon-airplane-flight:before {
  content: "";
}

.icon-placeholder:before {
  content: "";
}

.home {
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url("../img/full_screen_truck.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 145px);
  display: flex;
}
.home__content {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 87px;
}
.home__box {
  border: 1px solid #C8A35F;
  text-align: center;
  padding: 0 68px;
}
.home__title {
  font-size: 64px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 39px;
}
.home__text {
  font-size: 18px;
  max-width: 780px;
  line-height: 1.5;
  margin-bottom: 43px;
}
.home__icon {
  position: absolute;
  font-size: 31px;
  bottom: 8%;
  left: 48.4%;
}

.transportation {
  background: #393F47;
}
.transportation__content {
  background: linear-gradient(to right, #393F47 31.4%, #2F343A 31.4%, #2F343A 68.6%, #393F47 68.6%);
  margin: -15px 0;
  position: relative;
}
.transportation__content .icon-arrow-right {
  color: #C8A35F;
  font-size: 23px;
  margin-left: 33px;
}
.transportation__content .icon-arrow-left {
  color: #C8A35F;
  font-size: 23px;
  margin-right: 23px;
}
.transportation__box {
  display: flex;
  padding: 165px 0 127px;
  outline: 0;
}
.transportation__left {
  width: 40%;
}
.transportation__right {
  width: 40%;
  display: flex;
  align-items: center;
}
.transportation__title {
  line-height: 1.2;
}
.transportation__text {
  font-size: 18px;
  margin-top: 18px;
  max-width: 320px;
  line-height: 1.6;
  margin-bottom: 41px;
}
.transportation__image {
  margin-left: 29px;
}

.slick-arrowBox {
  position: absolute;
  z-index: 100;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.slick-arrowBox_top {
  top: 154px;
}
.slick-arrowBox_bottom {
  bottom: 147px;
}
.slick-btn {
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C8A35F;
  background-color: transparent;
  cursor: pointer;
}
.section {
  padding: 15px 0;
}
.section__title {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.05em;
}
.section__title:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 40px;
  border-top: 6px solid #C8A35F;
  top: -45px;
}

.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  padding: 19px 56px 18px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #C8A35F;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
.btn:active, .btn:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}