@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vbv13b');
  src:  url('fonts/icomoon.eot?vbv13b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vbv13b') format('truetype'),
    url('fonts/icomoon.woff?vbv13b') format('woff'),
    url('fonts/icomoon.svg?vbv13b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-truck:before {
  content: "\e905";
}
.icon-ship:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-mouse:before {
  content: "\e902";
}
.icon-airplane-flight:before {
  content: "\e900";
}
.icon-placeholder:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-rocket:before {
  content: "\e9a5";
}
