$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-truck: "\e905";
$icon-ship: "\e906";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-mouse: "\e902";
$icon-airplane-flight: "\e900";
$icon-placeholder: "\e901";
$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-rocket: "\e9a5";

