/* Набросок стилей для подвала
 ----------------------------------------------------------------------------- */

.footer {

	margin-top: -15px;
	position: relative;
	height: $footer_height;
	background: #C8A35F;
	@extend %clear_all;

	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 18px 0;
		@media (min-width: 425px) {
			flex-direction: row;
		}

	}

	&__company {
		display: flex;
		align-items: center;
		margin: 30px 0;

	}

	&__logo {
		max-width: 40px;
	}

	&__text {
		margin-left: 10px;

		@media (min-width: 425px) {
			display: none;
		}
		@media (min-width: 992px) {
			display: initial;
		}

	}

	&__information {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
		font-size: 14px;
		flex-direction: column;
		@media (min-width: 992px) {
			margin-left: 30px;
			margin-right: 24px;
		}
		@media (min-width: 768px) {

			justify-content: space-between;
		}
		@media (min-width: 425px) {
			flex-direction: row;
		}
	}

	&__left {
		display: flex;
		flex-grow: 0;
		justify-content: space-between;
		max-width: 500px;
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
			flex-grow: 10;

		}

	}

	&__contact {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 15px;
		@media (min-width: 425px) {
			margin-left: 30px;

			text-align: inherit;
		}
		@media (min-width: 992px) {
			margin-left: 0;
			margin-bottom: 0;
		}
	}

	&__address {}

	&__email {
		color: #2F343A;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: 425px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__phones {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 40px;
	}

	&__phone {}

	&__right {

		display: flex;
		align-items: flex-end;
		min-width: 147px;
		margin: auto;
		@media (min-width: 992px) {

			margin: 0 0 0 30px;
		}

	}

	&__author {
		color: #2F343A;
		text-decoration: underline;

	}
}
