/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header {
	// background-color: #ccc;
	// padding: 10px 0;

	&__top {
		background-color: #C8A35F;
		font-size: 12px;
		padding: 15px 0;

		.header__content {
			@media (min-width: 768px) {
				justify-content: space-between;
			}
			justify-content: space-between;

		}

	}

	&__content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		max-width: $container_width;
		padding: 0 15px;
		margin: 0 auto;
		@media (min-width: 768px) {
			justify-content: space-between;
		}

	}

	&__language {
		text-transform: uppercase;
		display: flex;
		flex-grow: 1;
		@media (min-width: 768px) {
			flex-grow: initial;
		}

	}

	&__lang {
		margin: 0 5px;
		cursor: pointer;
		opacity: 0.5;
		transition: 0.3s;

		&:first-child {
			margin: 0 5px 0 0;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__comunicationLink {
		margin-left: 15px;

		.icon-phone {
			font-size: 12px;

			@media (min-width: 768px) {
				display: none;
			}

		}

		.icon-envelop {
			font-size: 12px;

			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	&__phone {
		display: none;
		padding-right: 14px;
		@media (min-width: 768px) {
			display: block;
		}

	}

	&__email {
		display: none;
		@media (min-width: 768px) {
			display: block;
		}
	}

	&__bottom {
		background: #2F343A;
		padding: 27px 0;

	}

	&__left {
		display: flex;
		align-items: center;
		margin-left: 60px;
		@media (min-width: 768px) {
			margin-left: 0;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		border-right: 1px solid #fff;

	}

	&__image {
		padding-right: 10px;
		line-height: 0;

	}

	&__description {
		margin-top: 5px;
		padding-right: 19px;
		@media (min-width: 992px) {
			padding-right: 30px;
		}
	}

	&__location {
		margin-top: 3px;
		display: flex;
		margin-left: 15px;
		@media (min-width: 992px) {
			margin-left: 29px;
		}

		align-items: center;
		font-size: 14px;
		letter-spacing: 0.05em;

		.icon-placeholder {
			color: #C8A35F;
			font-size: 25px;
			padding-right: 10px;

		}
	}

	&__text {
		display: none;
		@media (min-width: 768px) {
			display: block;
		}
	}
	// // "Липкая" шапка
	// &__stiky {
	// 	// Позиционируем
	// 	position: fixed;
	// 	// Прибиваем вверх и влево
	// 	top: 0;
	// 	left: 0;
	// 	// Растягиваем на всю ширину
	// 	width: 100%;
	// }
}
