/* Набросок стилей для навигации
-------------------------------------------------------------------------------*/
.navbar {
	margin: 0;

	text-transform: uppercase;
	list-style: none;
	font-size: 14px;
	letter-spacing: 0.05em;
	position: fixed;
	color: #000;
	left: -330px;
	// left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	padding-top: 80px;
	transition: left 0.5s;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(#000, .5);
	z-index: 10;
	@media (min-width: 768px) {
		display: flex;
		position: static;
		background-color: transparent;
		box-shadow: none;
		width: auto;
		margin: 0;
		padding: 0;
		color: inherit;
	}

	.navbar__swicher:checked ~ & {
		left: 0;
	}

	&__swicher {
		display: none;
	}

	&__toggle {
		position: absolute;
		color: #fff;
		left: 15px;
		top: 81px;
		width: 34px;
		height: 24px;
		border: 4px solid;
		border-left: 0;
		border-right: 0;
		z-index: 15;
		cursor: pointer;

		&:after,
		&:before {
			content: '';
			border-top: 4px solid;
			position: absolute;
			top: 50%;
			margin-top: -2px;
			left: 0;
			width: 100%;

		}

		.navbar__swicher:checked ~ & {
			color: #000;
			border-color: transparent;
			position: fixed;

			&:after,
			&:before {
				transition: 0.8s;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}

		&:hover {
			color: darken(#fff, 10%);

		}
		@media (min-width: 768px) {
			display: none;
		}
	}

	&__item {
		margin: 30px 60px 30px 100px;

		&:last-child {
			margin-right: 0;
		}
		@media (min-width: 768px) {
			margin: 0 10px;
		}
		@media (min-width: 992px) {
			margin: 0 15px;
		}

	}

	&__link {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: -2px;
			// left: 0;
			left: 50%;
			width: 0;
			opacity: 0;
			border-bottom: 1px solid;
			transition: 0.3s;
			// transition-property: width left;
			// z-index: 100;

		}

		&:hover {
			&:after {
				left: 0;
				width: 100%;
				opacity: 1;
			}
		}
	}
}
