$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-mouse: "\e902";
$icon-airplane-flight: "\e900";
$icon-placeholder: "\e901";

