header.header
    .header__top
        .header__content
            .header__language
                //- .header__lang рус
                //- .header__lang eng
                //- .header__lang fr
                span#time.header__time 00:00:00
            a(href="tel: 8 (800) 123-45-67 ").header__comunicationLink
                span.header__phone 8 (800) 123-45-67
                i.icon-phone
            a(href="mailto: sales@log.ru").header__comunicationLink
                span.header__email sales@log.ru
                i.icon-envelop
    .header__bottom
        .header__content
            .header__left
                .header__company
                    a.header__box(href="/")
                        //- .header__image
                        //-     img(src="img/logo-image.svg", alt="image")
                        //- .header__description
                        //-     img(src="img/logo-text.svg", alt="text")

                        img.header__image(src="img/logo-image.svg", alt="image")

                        img.header__description(src="img/logo-text.svg", alt="text")
                a(href="#map").header__location

                    i.icon-placeholder
                    .header__text Наши офисы


            nav.header__right
                input.navbar__swicher#navbar_toggle(type="checkbox")
                label(for="navbar_toggle").navbar__toggle
                ul.navbar
                    li.navbar__item
                        a.navbar__link(href="#services") Услуги
                    li.navbar__item
                        a.navbar__link(href="#company") О компании
                    li.navbar__item
                        a.navbar__link.js_showVacancies(href="#") Вакансии
                    li.navbar__item
                        a.navbar__link(href="#map") Контакты
