// $icomoon-font-family: "icomoon" !default;
// $icomoon-font-path: "../fonts/icomoon-v1.0/fonts" !default;
//
// $icon-airplane-flight: "\e900";
// $icon-placeholder: "\e901";
//
// @font-face {
//     font-family: '#{$icomoon-font-family}';
//     src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f2w08p");
//     src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f2w08p#iefix") format('embedded-opentype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?f2w08p") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?f2w08p") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?f2w08p##{$icomoon-font-family}") format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;
// }
//
// [class^="icon-"],
// [class*=" icon-"] {
//     /* use !important to prevent issues with browser extensions that change fonts */
//     font-family: '#{$icomoon-font-family}' !important;
//     speak: never;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//
//     /* Better Font Rendering =========== */
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
//
// .icon-airplane-flight {
//     &:before {
//         content: $icon-airplane-flight;
//     }
// }
//
// .icon-placeholder {
//     &:before {
//         content: $icon-placeholder;
//     }
// }
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon-v1.3/fonts" !default;

$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-mouse: "\e902";
$icon-airplane-flight: "\e900";
$icon-placeholder: "\e901";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?lpq7ct");
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?lpq7ct#iefix") format('embedded-opentype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?lpq7ct") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?lpq7ct") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?lpq7ct##{$icomoon-font-family}") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone {
    &:before {
        content: $icon-phone;
    }
}

.icon-envelop {
    &:before {
        content: $icon-envelop;
    }
}

.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}

.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.icon-mouse {
    &:before {
        content: $icon-mouse;
    }
}

.icon-airplane-flight {
    &:before {
        content: $icon-airplane-flight;
    }
}

.icon-placeholder {
    &:before {
        content: $icon-placeholder;
    }
}
