extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .container_center
            .home__content
                .home__box
                    .home__title Грузовые перевозки 
                    .home__text Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов

                .home__icon
                    i.icon-mouse

    // end home
    // begin transportation
    section#transportation.transportation.section
        .container_center 
            .transportation__content.js-slider
                .transportation__box
                    .transportation__left
                        h2.section__title.transportation__title грузоперевозки по европе
                        .transportation__text Страны Евросоюза, а также Украина, Белоруссия со всеми документами.
                        .button.btn.btn-primary Подробнее
                    .transportation__right
                        img(src="img/truck.png", alt="").transportation__image
                .transportation__box
                    .transportation__left
                        h2.section__title.transportation__title Морская перевозка грузов
                        .transportation__text Северный полюс, а также Тихий океан со всеми документами
                        .button.btn.btn-primary Подробнее
                    .transportation__right
                        img(src="img/boath.png", alt="").transportation__image
                .transportation__box
                    .transportation__left
                        h2.section__title.transportation__title доставка груза в космос
                        .transportation__text Международная космическая станция, а также Луна со всеми документами
                        .button.btn.btn-primary Подробнее
                    .transportation__right
                        img(src="img/rocket.png", alt="").transportation__image

    // end transportation
    // begin services
    section#services.services.section
        .container_center
            .services__box
                h2.section__title Услуги
                .services__content
                    each item in [{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Морская перевозка'},{logo: 'icon-airplane-flight', name: 'Космическая доставка'},{logo: 'icon-airplane-flight', name: 'Грузоперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},]
                        .services__item.js_showDetail
                            .services__logo 
                                //- i.icon-airplane-flight
                                i(class= item.logo)
                            .services__name= item.name
    // end services
    // begin company
    section#company.company.section
        .container_center 
            .company__content
                .company__left
                    h2.section__title О компании
                    .company__description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                .company__right
                    //- ul
                    //-     li.company__item
                    //-         .company__number 48
                    //-         .company__subtitle офисов
                    //-         .company__text В Европе и СНГ
                    //-     li.company__item
                    //-         .company__number 361
                    //-         .company__subtitle грузовиков
                    //-         .company__text Volvo, Scania
                    //-     li.company__item.company__item
                    //-         .company__image
                    //-             img(src="img/red_truck.jpg", alt="image")
                    //- ul
                    //-     li.company__item.company__item
                    //-         .company__image
                    //-             img(src="img/red_truck.jpg", alt="image")
                    //-     li.company__item
                    //-         .company__number.company__number_small 1500
                    //-         .company__subtitle сотрудников
                    //-         .company__text профессионалов
                    .company__item
                        .company__number 48
                        .company__subtitle офисов
                        .company__text В Европе и СНГ
                    .company__item
                        .company__number 361
                        .company__subtitle грузовиков
                        .company__text Volvo, Scania
                    .company__item.company__item_image(style="background: url('img/red_truck.jpg')")
                        //- .company__image
                        //- img(src="img/red_truck.jpg", alt="image")
                    .company__item.company__item_image(style="background: url('img/red_truck.jpg')")
                        //- .company__image
                        //- img(src="img/red_truck.jpg", alt="image")
                    .company__item
                        .company__number.company__number_small 1500
                        .company__subtitle сотрудников
                        .company__text профессионалов

    // end company
    // begin map
    section#map.map.section
        #yandexMap.map__content.map__content_dark
        //- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A536ecf44d5432b917143af2394e16871d257ed47b43d88665832a92fd55a5ce9&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>


    // end map

    // Begin Modal vac
    .modal.fade.vac#vac
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close")

                .modal-body
                    .vacancies-block
                        h2.vacancies-block__title Актуальные вакансии
                        .vacancies-block__box
                            .vacancies-block__vacancy
                                .vacancies-block__name Водитель грузовика
                                ul.vacancies-block__list
                                    li.vacancies-block__item Экстримальное вождение грузовиков
                                    li.vacancies-block__item Контроль погрузки и разгрузки
                                    li.vacancies-block__item Слушать "Тихий огонек моей души"
                            .vacancies-block__vacancy
                                .vacancies-block__name Водитель грузовика
                                ul.vacancies-block__list
                                    li.vacancies-block__item Экстримальное вождение грузовиков
                                    li.vacancies-block__item Контроль погрузки и разгрузки
                                    li.vacancies-block__item Слушать "Тихий огонек моей души"
                            .vacancies-block__vacancy
                                .vacancies-block__name Водитель грузовика
                                ul.vacancies-block__list
                                    li.vacancies-block__item Экстримальное вождение грузовиков
                                    li.vacancies-block__item Контроль погрузки и разгрузки
                                    li.vacancies-block__item Слушать "Тихий огонек моей души"
                            .vacancies-block__vacancy.vacancies-block__vacancy_nonVacancy
                                .vacancies-block__name Нет подходящей вакансии?
                                .vacancies-block__desc Всё равно отправьте резюме — вдруг мы просто ещё не знаем, что без вас никуда.
                                a.btn.btn-vacancy(href="#form") Отправить резюме

                    .form#form
                        //- form.form__grid(method="POST" enctype="multipart/form-data" onsubmit="send(event, 'send.php')")

                        //- form.form__grid(action="mail.php" method="POST")
                        //- form.form__grid(method="POST" enctype="multipart/form-data")

                        h2.form__title Ваше резюме
                        form.form__grid(method="POST" enctype="multipart/form-data" onsubmit="send(event, 'send.php')")

                            .form__row
                                input(type="text", name="firstName", placeholder="Ваше имя", required)
                            .form__row
                                input(type="text", name="lastName", placeholder="Ваша фамилия", required)
                            .form__row
                                input(type="text", name="email", placeholder="Ваш e-mail", required)
                            .form__row
                                .drop
                                    .drop__content
                                        //- input.drop__toogle(type="text", name="position", placeholder="Желаемая должность", required)  
                                        .drop__wrapper 
                                            input.drop__toogle(type="text", name="position", placeholder="Желаемая должность", required, readonly)
                                        .drop__list
                                            label.drop__item
                                                input.drop__checkbox(type="checkbox") 
                                                .drop__position Водитель
                                            label.drop__item
                                                input.drop__checkbox(type="checkbox") 
                                                .drop__position Юрист
                                            label.drop__item
                                                input.drop__checkbox(type="checkbox") 
                                                .drop__position Логист


                            .form__row
                                textarea(type="text", name="message", placeholder="Почему выбрали нас?")
                            .form__row.form__row_flex
                                .fileDrop
                                label.fileDrop__label.btn.btn_form(for="myfile") Прикрепить файл
                                input.fileDrop__input(type="file", name="myfile[]" multiple id="myfile" )
                                //- button.btn.btn_form(type="submit" onclick="send(event, 'send.php')") Отправить резюме
                                button.btn.btn_form(type="submit") Отправить резюме





    // End modal vac

    // Begin Modal info
    .modal.fade.info#info
        .modal-dialog.modal-dialog-sm
            .modal-content
                a(href="#" class="modal-close")

                .info__message
    // End Modal info

    // Begin Modal detail
    .modal.fade.detail#detail
        .modal-dialog.modal-dialog-sm
            .modal-content
                a(href="#" class="modal-close")

                .detail__message
    // End Modal detail
