extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .container_center
            .home__content
                .home__box
                    .home__title Грузовые перевозки 
                    .home__text Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов

                .home__icon
                    i.icon-mouse

    // end home
    // begin transportation
    section#transportation.transportation.section
        .container_center 
            .transportation__content.js-slider
                .transportation__box
                    .transportation__left
                        h2.section__title.transportation__title грузоперевозки по европе
                        .transportation__text Страны Евросоюза, а также Украина, Белоруссия со всеми документами.
                        .button.btn.btn-primary(type="submit") Подробнее
                    .transportation__right
                        img(src="img/truck.png", alt="").transportation__image
                .transportation__box
                    .transportation__left
                        h2.section__title.transportation__title Морская перевозка грузов
                        .transportation__text Северный полюс, а также Тихий океан со всеми документами
                        .button.btn.btn-primary(type="submit") Подробнее
                    .transportation__right
                        img(src="img/boath.png", alt="").transportation__image
                .transportation__box
                    .transportation__left
                        h2.section__title.transportation__title доставка груза в космос
                        .transportation__text Международная космическая станция, а также Луна со всеми документами
                        .button.btn.btn-primary(type="submit") Подробнее
                    .transportation__right
                        img(src="img/rocket.png", alt="").transportation__image

    // end transportation
    // begin services
    section#services.services.section
        .container_center
            .services__box
                h2.section__title Услуги
                .services__content
                    each item in [{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},{logo: 'icon-airplane-flight', name: 'Авиаперевозки'},]
                        .services__item
                            .services__logo 
                                //- i.icon-airplane-flight
                                i(class= item.logo)
                            .services__name= item.name


    // end services
