extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .container_center
            .home__content
                .home__box
                    .home__title Грузовые перевозки 
                    .home__text Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов

                .home__icon
                    i.icon-mouse

    // end home
